@use "palette";

.food-chart-title-card {
    width: 40vw;
    height: 35vh;
    background-color: palette.$secondary;
    color: palette.$third;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 3rem;
    padding: auto;
}

.food-chart-text {
    font-weight: bold;
    letter-spacing: 2px;
}