@use "palette";

.food-chart-title-card {
    width: 40vw;
    height: 35vh;
    background-color: palette.$secondary;
    color: palette.$third;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 3rem;
    padding: 0;
}

.food-chart-days-card {
    width: 50vw;
    min-height: 90vh;
    max-height: 90vh;
    background-color: palette.$secondary;
    color: palette.$third;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 1rem;
    padding: 3rem;
    overflow-y: scroll;
}

.food-chart-text {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
}

.food-chart-title-text {
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: auto;
    margin-top: auto;
}

.food-chart-day-text {
    font-weight: normal;
    letter-spacing: 1px;
    overflow-y: auto;
}

ul {
    text-align: start;
    list-style-position: inside;
}