@use "palette";

.header-form {
    height: 20vh;
    background-color: palette.$accent;
    margin-top: 1.5rem;
    border-radius: 20px;
}

.header-food_chart {
    height: 15vh;
    background-color: palette.$accent;
    margin-top: 2em;
    border-radius: 20px;
}